.navbar {
    background: rgb(173,129,148);
    background: linear-gradient(90deg, rgba(173,129,148,1) 0%, rgba(114,130,148,1) 100%);  
}

.nav-link {
    color: white !important; 
}

.container {
    margin-top: 20px;
}

.profile-image {
    max-width: 150px;
}

.detail {
    margin-top: 10px;
}

.btn-primary {
    background-color: #007bff; 
    border-color: #007bff; 
}

.btn-primary:hover {
    background-color: #0056b3; 
    border-color: #0056b3; 
}
.edit-section {
    display: none;
}

